body {
  font-family: 'Comic Neue', cursive;
  background-image: url('./body-bg.jpg');
  background-size: cover;
}

.header-div {
  font-size: 2rem;
  padding-left: 18%;
  color: #e633bf;
}

main {
  text-align: center;
  display: flex;
}

.score-board {
  width: 40%;
  padding-left: 12%;
}

.score-refresh h2 {
  display: inline;
  font-size: 2rem;
  color: white;
}

.score-refresh a {
  margin-left: 5rem;
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 3px 6px #e07e57;
  border: 3px solid #03f6fe;
  background-color: #06003e;
  color: white;
  cursor: pointer;
}

.score-display {
  padding-right: 10%;
  padding-left: 5%;
}

.score-display ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 12%;
}

.score-display li {
  background-image: url('./li-bg.png');
  background-size: cover;
  height: 2.4rem;
  display: block;
  text-align: left;
  padding-top: 3.5%;
  padding-left: 14%;
  font-weight: 500;
  font-size: 1.2rem;
}

.li-div-1 {
  display: inline;
}

.li-div-2 {
  float: right;
  display: inline;
  padding-right: 8%;
}

.add-score {
  width: 20%;
}

.add-score h2 {
  font-size: 2rem;
  margin-top: 0;
  color: white;
}

.add-score form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-score input {
  height: 2rem;
  width: 16rem;
  border: 3px solid greenyellow;
  margin-bottom: 5%;
}

#submitButton {
  width: 6rem;
  margin-right: 5px;
  align-self: flex-end;
  box-shadow: 3px 6px #e07e57;
  border: 3px solid #03f6fe;
  background-color: #06003e;
  color: white;
  cursor: pointer;
}

.score-refresh a:hover,
#submitButton:hover {
  box-shadow: 3px 6px #d008a6;
}

::placeholder {
  color: black;
}
