body {
  font-family: 'Comic Neue', cursive;
  background-image: url('./bodybg.jpg');
  background-size: cover;
}

.header-div {
  font-size: 2rem;
  padding-left: 18%;
}

main {
  text-align: center;
  display: flex;
}

.score-board {
  width: 40%;
  padding-left: 12%;
}

.score-refresh h2 {
  display: inline;
  font-size: 2rem;
}

.score-refresh a {
  margin-left: 5rem;
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid cadetblue;
  color: white;
  background: black;
  box-shadow: 3px 6px rgb(204, 204, 200);
  cursor: pointer;
}

.score-refresh a:hover {
  border: 3px solid greenyellow;
}

.score-display {
  padding-right: 10%;
  padding-left: 5%;
  background: rgba(216, 225, 214, 0.5);
}

.score-display ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 12%;
}

.score-display li {
  background-image: url('./bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1.9rem;
  display: block;
  text-align: left;
  padding-top: 4.7%;
  padding-bottom: 1.5%;
  padding-left: 12%;
  font-weight: 500;
  font-size: 1.3rem;
}

.add-score {
  width: 20%;
}

.add-score h2 {
  font-size: 2rem;
  margin-top: 0;
}

.add-score form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(216, 225, 214, 0.8);
}

.add-score input {
  height: 2rem;
  width: 16rem;
  margin-bottom: 5%;
}

#submitButton {
  width: 6rem;
  margin-right: 5px;
  align-self: flex-end;
  box-shadow: 3px 6px #888;
  cursor: pointer;
}

::placeholder {
  color: black;
}

.li-div-1 {
  display: inline;
}

.li-div-2 {
  display: inline;
  float: right;
  margin-right: 7%;
}
